{
  "gcp": {
    "project_id": "ai-realtime-project",
    "dataset_id": "sensor_data_stream",
    "table_id": "real-weather",
    "credentials_file": "ai-realtime-project-4de709b969f4.json"
  },
  "api": {
    "predict_api_url": "http://35.225.228.65:8000",
    "timeout": 5
  },
  "weather": {
    "latitude": 16.047079,
    "longitude": 108.206230,
    "city": "Danang"
  },
  "model": {
    "model_file": "weather_model.pkl"
  },
  "app": {
    "show_debug_info": true
  }
}

